@tailwind base;

@layer base {
  body,
  html {
    overflow: hidden;
    @apply bg-gray-50 tablet:p-1 p-0;
    @apply text-stone-600;
    font-family: Bai Jamjuree, Proxima Nova, system-ui, sans-serif;
    padding: 0;
    margin: 0;
  }

  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
  }

  ::-webkit-scrollbar {
    background-color: width;
    width: 5px;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  .no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .space {
    @apply p-3;
  }
  h2 {
    @apply tablet:text-lg font-semibold;
  }
  h3 {
    @apply font-semibold;
  }
}

@tailwind components;

@layer components {
  .animation {
    @apply transition-all duration-300;
  }
  .h-content {
    height: calc(100vh - 56px);
  }
  .icon {
    @apply w-6 h-6;
  }
  .smooth {
    @apply transition-all duration-300;
  }

  .divider {
    @apply h-1 w-full border-b border-zinc-200 dark:border-zinc-700;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-zinc-200;
  }
  .scrollbar-dark::-webkit-scrollbar-thumb {
    @apply bg-zinc-700;
  }
  @screen tablet {
    .h-content {
      height: calc(100vh - 72px);
    }
  }
  @keyframes shimmer {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px 0;
    }
  }

  .animate-shimmer {
    animation: shimmer 1s infinite linear;
  }
  .link {
    @apply underline underline-offset-4;
  }
}

@tailwind utilities;
